---
interface Props {
  title: string;
  day: number;
}

import Layout from "./Layout.astro";
import { Navbar } from "../components/Navbar";

const { title, day } = Astro.props;
---

<Layout title={`Day ${day}: ${title}`}>
  <Navbar day={day} />
  <!-- Setup some base styles as a theme -->
  <div
    class="flex flex-col max-w-screen-lg w-full mx-auto px-4 md:px-6 my-12
      [&_h1]:text-5xl [&_h1]:font-bold [&_h1]:mb-6 [&_h1]:border-b [&_h1]:border-yeti-dark
      [&_h2]:text-3xl [&_h2]:mb-6 [&_h2]:border-b [&_h2]:border-yeti-dark
      [&_h3]:text-xl [&_h3]:mb-6
      [&_a]:text-yeti-light-9 [&_a:hover]:underline
      [&_pre:has(code)]:p-4 [&_pre]:rounded-lg [&_pre]:!bg-yeti-dark-7 [&_pre]:!text-white
      [&_:not(pre)>code]:bg-yeti-dark-7 [&_:not(pre)>code]:text-white [&_:not(pre)>code]:rounded [&_:not(pre)>code]:px-1
      [&_ul]:list-disc [&_ul]:pl-5
      [&_ol]:list-decimal [&_ol]:pl-5
      [&_table]:border [&_table]:border-yeti-dark-1
      [&_table]:divide-y-2 [&_table]:divide-yeti-dark-1 [&_table_tbody]:divide-y [&_table_tbody]:divide-yeti-dark-1
      [&_table_tr]:divide-x [&_table_tr]:divide-yeti-dark-1
      [&_table_tr:nth-child(odd)]:bg-yeti-light-3
      [&_table_th]:py-2 [&_table_th]:px-3
      [&_table_td]:py-2 [&_table_td]:px-3"
  >
    <slot />
  </div>
</Layout>
